# **         PYTHON LAB CYCLE 2     **

Q1 : Suppose a newly born pair of rabbits, one male and one female, are 
put in a field. Rabbits can mate at the age of one month so that at the 
end of its second month, a female has produced another pair of 
rabbits. Suppose that our rabbits never die and that the female always 
produces one new pair every month from the second month.
Develop a program to show a table containing the number of pairs of 
rabbits in the first N months.

In [ ]:
n=int(input("Enter number of months : "))
def fibonacci(n):

  if n==1:
    return 1
  elif n==2:
    return 1
  elif n>2:
    return fibonacci(n-1)+fibonacci(n-2)
fibonacci(n)    

print("Number of rabits upto " ,n,"months : ")
print('Month           Number of pair of rabits')  
for i in range(1,n+1):
  print(i,"\t\t",fibonacci(i))

Enter number of months : 34
Number of rabits upto  34 months :
Month           Number of pair of rabits
1 		 1
2 		 1
3 		 2
4 		 3
5 		 5
6 		 8
7 		 13
8 		 21
9 		 34
10 		 55
11 		 89
12 		 144
13 		 233
14 		 377
15 		 610
16 		 987
17 		 1597
18 		 2584
19 		 4181
20 		 6765
21 		 10946
22 		 17711
23 		 28657
24 		 46368
25 		 75025
26 		 121393
27 		 196418
28 		 317811
29 		 514229
30 		 832040
31 		 1346269
32 		 2178309
33 		 3524578
34 		 5702887